<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ufactory-xarm7-robot">
  <xacro:arg name="sim_gazebo" default="false"/>

  <!-- Load common definitions -->
  <xacro:include filename="materials.xacro"/>
  <xacro:include filename="macros.xacro"/>
  <xacro:include filename="joints.xacro"/>
  <xacro:include filename="links.xacro"/>
  <xacro:property name="gazebo_control" value="false" />


  <!-- Load robot color -->
  <xacro:material_white/>


</robot>